
body {
    margin: 40px auto;
    max-width: 768px;
    line-height: 1.6;
    font-size: 20px;
    color: #444;
    padding: 0 10px;
}

pre {
    font-size: 16px;
}

h1, h2, h3 {
    line-height: 1.2
}

a:link {
  text-decoration: none;
}

a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

a:active {
  text-decoration: underline;
}
h1 a {
    color: #444;
}

h2 a {
    color: #444;
}

.horizontal-menu {
  list-style-type: none; /* Removes bullet points */
  padding: 0; /* Removes default padding */
  margin: 0; /* Removes default margin */
  display: flex; /* Aligns items in a row */
}

.horizontal-menu li {
  margin-right: 15px; /* Adds space between items */
}

.horizontal-menu li:last-child {
  margin-right: 0; /* Removes space after the last item */
}

.horizontal-menu a {
  text-decoration: underline; /* Removes underline from links */
  color: #333; /* Sets link color */
  font-weight: bold;
}

.horizontal-menu a:hover {
  color: orangered; /* Changes color on hover */
}