/* Base styling */
body {
  margin: 40px auto;
  max-width: 768px;
  line-height: 1.6;
  font-size: 20px;
  color: #444;
  background-color: #fff;
  padding: 0 10px;
}

/* Dark mode styling */

/* Mobile-specific adjustments */
@media (max-width: 768px) {
  body {
    margin: 0;
    padding: 0 5px;
    max-width: 100%;
  }

  .horizontal-menu {
    flex-direction: column;
    align-items: flex-start;
  }

  .horizontal-menu li {
    margin-right: 0;
    margin-bottom: 10px;
  }

  .horizontal-menu li:last-child {
    margin-bottom: 0;
  }

  h1, h2, h3 {
    font-size: 1.5em;
  }

  body, p, li, a {
    font-size: 18px;
  }
}

/* Other styles */
pre {
  font-size: 16px;
}

h1, h2, h3 {
  line-height: 1.2;
}

a:link, a:visited {
  text-decoration: none;
}

a:hover, a:active {
  text-decoration: underline;
}

.horizontal-menu {
  list-style-type: none;
  padding: 0;
  margin: 0;
  display: flex;
}

.horizontal-menu li {
  margin-right: 15px;
}

.horizontal-menu li:last-child {
  margin-right: 0;
}

/* Default styling for .horizontal-menu a */
.horizontal-menu a {
  text-decoration: underline;
  color: #333;
  font-weight: bold;
}

.horizontal-menu a:hover {
  color: orangered;
}



@media (prefers-color-scheme: dark) {
  body {
    color: #ddd;
    background-color: #222;
  }

  a {
    color: #ff4500;
  }

  a:hover {
    color: #ff4500;
  }

  /* Dark mode styling specifically for .horizontal-menu a */
  .horizontal-menu a {
    color: #ccc; /* Lighter color for dark background */
    text-decoration: underline;
    font-weight: bold;
  }

  .horizontal-menu a:hover {
    color: #ff4500;
  }
}
